
.dashboard-container {
 
}

.dashboard-container .dashboard-content {
  position: fixed;
  background-color: #1500ff;
  left:400px
}

.side-bar {
  position: fixed;
  background-color: #f6acdb;
  display: inline-block;
  height: 100vh;
  
}